<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
<meta charset="UTF-8" />
<title>Default Title</title>
</head>
<body>
    <div th:replace="fragments :: header">NavigationBar</div>
    <div class="container">
        <h1 class="text-center italic">
            <em th:text="#{error.title}"></em>
        </h1>
        <br />
        <div class="col-lg-12 text-center">
            <span th:text="#{error.404.message}"></span><br/>
            <br/>
            <span th:utext="#{error.bottom}"></span>
        </div>
    </div>
    <div th:replace="fragments :: footer">FooterBar</div>
</body>
</html>