@charset "ISO-8859-1";

body {
	padding-top: 70px; /* For the fixed Navbar */
	padding-bottom: 70px; /* For the fixed Footer */
}

.languageChanger
{
	min-width: 60px !important;
}

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: fixed;
    width: 100%;
}

.text-muted {
    margin: 20px 0;
}