<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
<meta charset="UTF-8" />
<title>Default Title</title>
</head>
<body>
    <header th:replace="fragments :: header">NavigationBar</header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h1 class="text-center">The Heroes Tavern</h1>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="well">
                    <h3 class="text-center">Login</h3>
                    <br />
    <form th:action="@{/}" th:object="${loginForm}" method="post">
        <div class="form-group">
            <input class="form-control" type="text" th:field="*{mail}" th:placeholder="#{general.mail}" />
            <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></span>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" th:field="*{password}" th:placeholder="#{general.password}" />
        </div>
        <input class="form-control btn-success" type="submit" name="submit" th:value="#{general.login}" />
    </form>
                    <br />
                    <div class="btn-group btn-group-justified" role="group">
                        <a href="/register" class="btn btn-primary col-sm-12" th:text="#{general.register}"></a>
                        <a href="/register" class="btn btn-default col-sm-12" th:text="#{general.passwordLost}"></a>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments :: footer">FooterBar</footer>
</body>
</html>
